
@import url('https://fonts.googleapis.com/css?family=Lobster');

#myJumbotron
{
    background-color: #eca1a6;
    margin-bottom: 0px;
    text-transform: capitalize;
    padding: 16px 0;


}
header
{
  background-color: #eca1a6;
  border: 2px black solid;


}


.myJumbotron a:active
{
 text-decoration: none;

}

.myJumbotron a:visited
{
  color: black;
}

{

}

 h1
{
  font-weight: bold;
  font-size: 30px;
  font-family: 'Lobster', Monofett ;
  text-align: center;

}

nav
{
  font-size: 30px;
  text-align: center;



}
/* nav a:hover
{
  font-weight: bold;
}
nav a:active
{
  text-decoration: none;

}
nav a:visited
{
  color: black;
}
nav .middle
{
  margin-right: 10%;
  margin-left: 10%;

} */
footer
{

  text-align: center;
  background-color: #eca1a6;
  border: 2px black solid;
  margin-top: 0;



}
